{% extends "index.html.twig" %}

{% block section %}

	<h2 class="mb-4">Mes informations</h2>

	<fieldset>
		<div class="form-group row">
			<label for="nom" class="col-sm-2 col-form-label col-form-label-sm">Nom</label>
			<div class="col-sm-6">
				<input type="text" id="nom" readonly class="form-control form-control-sm" name="nom" required placeholder={{ infos.nom }}>
			</div>
		</div>
		<div class="form-group row">
			<label for="prenom" class="col-sm-2 col-form-label col-form-label-sm">Prenom</label>
			<div class="col-sm-6">
				<input type="text" id="prenom" readonly class="form-control form-control-sm" name="prenom" required placeholder={{ infos.prenom }}>
			</div>
		</div>
		<div class="form-group row">
			<label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
			<div class="col-sm-6">
				<input type="text" id="email" readonly class="form-control form-control-sm" name="email" required placeholder={{ infos.email }}>
			</div>
		</div>
		<div class="form-group row">
			<label for="idiut" class="col-sm-2 col-form-label col-form-label-sm">Identifiant IUT</label>
			<div class="col-sm-6">
				<input type="text" id="idiut" readonly class="form-control form-control-sm" name="idiut" required placeholder={{ infos.idiut }}>
			</div>
		</div>
		<div class="form-group row">
			<label for="annee" class="col-sm-2 col-form-label col-form-label-sm">Année de naissance</label>
			<div class="col-sm-6">
				<input type="text" id="annee" readonly class="form-control form-control-sm" name="anneenaissance" required placeholder={{ infos.anneenaissance }}>
			</div>
		</div>
	</fieldset>

	<a href="?action=modifiermembre&idmembre={{infos.idmembre}}" name="idmembre" value="{{infos.idmembre}}" class="btn btn-dark mt-3">
		Modifier mes informations
	</a>

	<div class="container mb-4 justify-content-start align-item-start">
		<form method="post" action="index.php" class="well" enctype="multipart/form-data">
			<img id="photodeprofilespaceutilisateur" src="./Views/imgprofil/{{infos.photo}}" alt="photodeprofil">
			<div>
				<label for="photo">Changer de photo de profil :</label>
				<input type="file" id="photo" name="photo" accept="image/png, image/jpeg">
				<input type="hidden" id="anciennepdp" name="anciennepdp" value="{{infos.photo}}">
			</div>
			<input type="submit" class="btn btn-dark mt-3" name="changementpdp" value="Changer de photo de profil">
		</div>
	</form>
</div>

<h2 class="text-center mb-4">Tous mes projets</h2>

<a href="?action=ajoutprojet" class="ms-5 btn btn-dark mb-3">
	Ajouter un projet
</a>

	<div class="d-flex justify-content-center align-items-center">
		<div class="container d-flex justify-content-around row gap-3 mx-auto">
		{% for projet in projets %}
			<div class="col mb-4 mx-auto">
				<div class="card" style="width: 18rem;">
					<img src="./Views/imgprojet/{{projet.imageprincipale}}" class="card-img-top" alt="{{projet.imageprincipale}}">
					<div class="card-body">
						<h5 class="card-title">{{projet.titre}}</h5>
						<p class="card-text">{{projet.description}}</p>
						<a href="?action=infoprojet&idprojet={{projet.idprojet}}" name="idprojet" value="{{projet.idprojet}}" class="btn btn-dark">Voir plus</a>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
</div>{% endblock %}
