{% extends "index.html.twig" %}

{% block section %}
	{% if estContributeur == false and admin == 0 %}
		<a class="btn btn-secondary mb-3">Vous devez être connecté pour modifier le projet</a>
	{% else %}
		<a class="btn btn-dark mb-3" href="?action=modifprojet&idprojet={{projet.idprojet}}">Modifier le projet</a>
	{% endif %}

	<div class="d-flex flex-column align-items-center mb-5">
		<h1 class="mb-4">{{projet.titre}}</h1>
		{% if images is empty %}
			<p>Pas d'image disponible</p>
		{% else %}
			<div class="d-flex justify-content-center">
				<img src="./Views/imgprojet/{{images}}" class="d-block object-fit-md-cover h-20 w-20 border border-dark" alt="Image du projet 1">
			</div>
		{% endif %}
	</div>

	<div class="container bg-dark-subtle pt-3" id="infoprojet">
		<div class="row mb-3 align-items-start">
			<div class="col-4">
				<p>Description</p>
			</div>
			<div class="col-8">
				<p>{{projet.description}}</p>
			</div>
		</div>

		<div class="row mb-3 align-items-center">
			<div class="col-4">
				<p>Contributeurs :</p>
			</div>
			<div class="col-8 d-flex flex-row">

				{% for contributeur in contributeurs %}
					<div class="row d-flex flex-row justify-content-center">
						<img src="./Views/imgprofil/{{contributeur.photo}}" class="img-thumbnail photodeprofilcontributeur" alt="photodeprofil">
						<p class="mt-2 text-center">{{contributeur.prenom}}
							{{contributeur.nom}}</p>
					</div>
				{% endfor %}

			</div>
		</div>
		<div class="row mb-3 align-items-start">
			<div class="col-4">
				<p>Catégories :</p>
			</div>
			<div class="col-8">
				{% if categories is empty%}
					<p>Pas de catégorie spécifiée</p>
				{% else %}
					{% for categorie in categories %}
						{{categorie.nomcategorie}}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="row mb-3 align-items-start">
			<div class="col-4">
				<p>Tags :</p>
			</div>
			<div class="col-8">
				{% if tags is empty%}
					<p>Pas de tag spécifié</p>
				{% else %}
					{% for tag in tags %}
						{{tag.nomtag}}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="row mb-3 align-items-start">
			<div class="col-4">
				<p>Ressources :</p>
			</div>
			<div class="col-8">
				{% if ressources is empty%}
					<p>Pas de ressource spécifiée</p>
				{% else %}
					{% for ressource in ressources %}
						{{ressource.semestre}}
						{{ressource.intitule}}
						{{ressource.identifiant}}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="row mb-3 align-items-start">
			<div class="col-4">
				<p>Démo</p>
			</div>
			<div class="col-8">
				<p>{{projet.demo}}</p>
			</div>
		</div>
		<div class="row mb-3 align-items-start">
			<div class="col-4">
				<p>Source</p>
			</div>
			<div class="col-8">
				<p>{{projet.source}}</p>
			</div>
		</div>
	</div>


	<h2>Notes et commentaires</h2>

	<form method="post" action="index.php" class="well">
		<div>
			<fieldset>
				<div class="row mb-4">
					<div class="col-4">
						<label>Note globale :
						</div>
						<div class="col-8">
							{% if moyenne == 0 %}Il n'y a pas encore de votes pour ce projet
							{% else %}
								{{moyenne}}
								sur un total de
								{{notes|length}}
								votes
							{% endif %}
						</label>
					</div>
					<div class="col-4">
						<label>Votre note :</label>
					</div>
					<div class="col-8">
						{% for note in notes %}
							{% if idmembre == note.Id_1 %}
								{{note.note}}
							{% endif %}
						{% endfor %}
					</div>
					<div class="col-4">
						<label>Laisser une note :</label>
					</div>
					<div class="col-8">
						<input type="radio" value="1" name="note" id="un"/>
						<label for="un">1</label>
						<input type="radio" value="2" name="note" id="deux"/>
						<label for="deux">2</label>
						<input type="radio" value="3" name="note" id="trois"/>
						<label for="trois">3</label>
						<input type="radio" value="4" name="note" id="quatre"/>
						<label for="quatre">4</label>
						<input type="radio" value="5" name="note" id="cinq"/>
						<label for="cinq">5</label>
					</div>
				</div>
				<label>Commentaires :</label>
				{% for commentaire in commentaires %}
					<div class="container-fluid d-flex flex-row align-item-start">
						<div class="col d-flex">
							<img src="./Views/imgprofil/{{commentaire.photo}}" class="img-thumbnail photodeprofilespaceutilisateur w-50 h-auto" alt="photodeprofil">
						</div>
						<div class="col d-flex flex-grow-1 flex-column ">
							<div class="row">
								{{commentaire.prenom}}
								{{commentaire.nom}}</div>
							<div class="row flex-grow-1">
								{{commentaire.commentaire}}
							</div>
						</div>
					</div>
				{% endfor %}
				<br><label for="motivation">Donnez vos impressions sur ce projet :</label><br>
				<textarea rows="3" cols="120" name="commentaire" id="commentaire"></textarea>
				<input type="hidden" name="idprojet" value="{{projet.idprojet}}">
				{% if acces == "oui" %}
					<input type="submit" class="btn btn-dark" name="envoyercommentaire" value="Envoyer">
				{% else %}
					<input type="submit" class="btn btn-dark" disabled name="envoyercommentaire" value="Envoyer">
				{% endif %}

			</fieldset>
		</div>
	</form>
{% endblock %}
