{% extends "index.html.twig" %}

{% block section %}

{% if estContributeur == false and admin == 0 %}

	<p>Vous n'avez pas les droits pour modifier ce projet</p>

{% else %}

	<form method="post" action="index.php" class="well" enctype="multipart/form-data">
		<fieldsetclass="form-group">
			<legend>Modifier le projet</legend>

			<!-- Section projet -->
			<div class="form-group row">
				<label for="titre" class="col-sm-2 col-form-label col-form-label-sm">Titre</label>
				<div class="col-sm-10">
					<input type="text" id="titre" class="form-control form-control-sm" name="titre" required placeholder="{{projet.titre}}"/>
				</div>
			</div>
			<div class="form-group row">
				<label for="description" class="col-sm-2 col-form-label col-form-label-sm">Description</label>
				<div class="col-sm-10">
					<input type="text" id="description" class="form-control form-control-sm" name="description" required placeholder="{{projet.description}}"/>
				</div>
			</div>
			<div class="form-group row">
				<label for="demo" class="col-sm-2 col-form-label col-form-label-sm">Lien démo</label>
				<div class="col-sm-10">
					<input type="text" id="demo" class="form-control form-control-sm" name="demo" required placeholder="{{projet.demo}}"/>
				</div>
			</div>
			<div class="form-group row">
				<label for="source" class="col-sm-2 col-form-label col-form-label-sm">Lien source</label>
				<div class="col-sm-10">
					<input type="test" id="source" class="form-control form-control-sm" name="source" required placeholder="{{projet.source}}"/>
				</div>
			</div>

			<!-- section catégories -->
			<div class="form-group row">
				<label for="categories" class="col-sm-2 col-form-label col-form-label-sm">Catégories :</label>
				<select id="categories" class="selectcategories form-select" name="categories[]">
        <option value=""></option>
					{% for categorie in allCategories %}
						{% if categories.idcategorie == categorie.idcategorie %}
							<option class="optioncategories" selected="selected" value="{{categorie.idcategorie}}">{{categorie.nomcategorie}}</option>
						{% else %}
							<option class="optioncategories" value="{{categorie.idcategorie}}">{{categorie.nomcategorie}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<!-- section tags -->
			<div class="form-group row">
				<label for="tags" class="col-sm-2 col-form-label col-form-label-sm">Tags :</label>
				<select class="selecttags form-select" id="tags" name="tags[]">
        <option value=""></option>
					{% for tag in allTags %}
						{% if tags.idtag == tag.idtag %}
							<option class="optiontags" selected="selected" value="{{tag.idtag}}">{{tag.nomtag}}</option>
						{% else %}
							<option class="optiontags" value="{{tag.idtag}}">{{tag.nomtag}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<!-- section ressources -->
			<div class="form-group row">
				<label for="ressources" class="col-sm-2 col-form-label col-form-label-sm">Ressources :</label>
				<select id="ressources" class="selectressources form-select" name="ressources[]">
        <option value=""></option>
					{% for ressource in allRessources %}
						{% if ressources.idressource == ressource.idressource %}
							<option class="optionressources" selected="selected" value="{{ressource.idressource}}">{{ressource.intitule}}</option>
						{% else %}
							<option class="optionressources" value="{{ressource.idressource}}">{{ressource.intitule}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<!-- section contributeurs -->
			<div class="form-group row">
				<label for="contributeurs" class="col-sm-2 col-form-label col-form-label-sm">Contributeurs :</label>
				<select id="contributeurs" class="selectcontributeurs form-select" name="contributeurs[]">
        <option value=""></option>
					{% for contributeur in allUsers %}
						{% if contributeurs.idmembre == contributeur.idmembre %}
							<option class="optioncontributeurs" selected="selected" value="{{contributeur.idmembre}}">{{contributeur.nom}}</option>
						{% else %}
							<option class="optioncontributeurs" value="{{contributeur.idmembre}}">{{contributeur.nom}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<!-- section images -->
			<div class="d-flex justify-content-between mt-3">
				<div>
					<label for="images">Images du projet :</label>
					<input type="file" multiple id="images" name="images" accept="image/png, image/jpeg"/>
					<p>N'ajoutez pas d'images si vous souhaitez garder les images actuelles</p>
					<label for="supprimg">Supprimer les images du projet sans en ajouter :</label>
					<input
					type="checkbox" id="supprimg" name="supprimg">

					<!-- idmembre = celui de l'utilisateur connecté    -->
					<input type="hidden" id="estcontributeur" name="estcontributeur" {% if estContributeur == true %}value="oui" {% else %} value="non"{% endif %}/>
					<input type="hidden" id="idprojet" name="idprojet" value="{{ projet.idprojet }}"/>
					<input type="hidden" id="valideadmin" name="valideadmin" value="{{ projet.valideadmin }}"/>
				</div>
			</div>
      <div class="d-flex justify-content-between mt-3">
			<input type="submit" class="btn btn-dark" name="valider_modif" value="Valider"/>
			<a class="btn btn-danger" href="?action=supprimerprojet&idprojet={{projet.idprojet}}">Supprimer le projet</a>
      </div>
		</fieldset>
	</form>
</div>{% endif %}{% endblock %}
